	<div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
<!-- 					<h4>HELLO PEOPLE, MY NAME IS</h4>
					<h1>MICHAEL JOHNSON</h1>
					<h4>COMPUTER ENGINEER, SOFTWARE DEVELOPER & POKEMON MASTER</h4> -->
				</div>
			</div>
	    </div>
	</div>
	
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>HELLO PERSON, MY NAME IS</h4>
				<h2>MICHAEL JOHNSON</h2>
				<h4>COMPUTER ENGINEER, SOFTWARE DEVELOPER & POKEMON MASTER</h4>
				<br>
				<p>Thanks for visiting my online portfolio. My name is Michael, and I am a Computer Engineering graduate from Iowa State University. I currently work and live in the Kansas City area for Garmin as a Software Engineer.</p>
				<p>On here you will find samples of some of the University and hobby projects I've worked on for the past few years as well as some of my past experiences. Feel free to view my resume by clicking the 'Resume' link at the top of the page for my contact information. I can also be contacted on LinkedIn, which you can also find at the top of this page. Also, feel free to browse around my github projects.</p>
			</div>
		</div>
	</div>