<div class="container" id="projects-body">
	<div>
		<p>
		Below is information about the various projects I've completed or participated in over the last few years.<br> 
		</p>
	</div>
	<div>
		
	</div>
</div>