<div id="projectpagewrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Portfolio</h1>
			</div>
		</div>
    </div> 
</div>

<div class="container">
	<div class="row centered mt mb">
		
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/soundtools"><img src="/assets/Icons/sound_tools.jpg" class="img-responsive">
			<h4>Sound Tools</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/timely"><img src="/assets/Icons/timely.jpg" class="img-responsive">
			<h4>Timely</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/microcart"><img src="/assets/Icons/microcart.jpg" class="img-responsive">
			<h4>MicroCART</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/tixface"><img src="/assets/Icons/tixface.jpg" class="img-responsive">
			<h4>TixFace</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/fast"><img src="/assets/Icons/fast.jpg" class="img-responsive">
			<h4>Fast</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/conwayslife"><img src="/assets/Icons/conwayslife.jpg" class="img-responsive">
			<h4>Conway's Game of Life</h4>
			</a>
		</div>
	</div>
</div>


<div class="container" id="projects-body">
	<div>
		<p>
		Below is information about the various projects I've completed or participated in over the last few years.<br> 
		</p>
	</div>
	<div id="projects-container">
		<div class="container-fluid well">
			<div class="center-div">
				<h2>Command Line Sound Tools</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
					A multitude of command line tools that allow the user to create and manipulate various forms of audio files.  There are two supported file formats, WAV and a custom text-based format.  The different utilities and their features are the following:<br>
					Sndinfo - <br>
					Sndcat - <br>
					Sndmix - <br>
					Sndgen - <br>
					Sndplay – <br>
					These command line tools were all written in C, and intended to be used on unix-based systems.  They will likely work on Windows as well with an emulator such as Cygwin.
				</div>
				<div class="col-md-4">
				    <!-- The container for the list of example images -->
				    <div id="timely-links" class="images">
				    <a href="/assets/Sound Tools/sndinfo.png" class="img-thumbnail" title="Sound File Info" data-gallery=""><img src="/assets/Sound Tools/sndinfo.png" class="img-responsive"></a>
				    </div>
			    </div>
			</div>
		    <div class="row center-div">
		    	<br>
		    	<div class="col-md-6">
					Code, custom filetype, etc.<br>
				</div>
			</div>
		</div>
		
		<div class="container-fluid well">
			<div class="center-div">
				<h2>Timely</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
					An employee management system that supports shift scheduling, shift trading, and the ability for managers to manage their employees schedules and trades. This application is all web-based and was written using Spring MVC, Spring Security, and Hibernate. The application’s front end was done using JSP, Javascript, HTML, CSS, and Bootstrap.<br>
				</div>
				<div class="col-md-4">
				    <!-- Timely images -->
				    <div id="timely-links">
					    <div class="row">
					    	<a href="/assets/Timely/homepage.png" class="img-thumbnail col-md-6" title="Home Page" data-gallery=""><img src="/assets/Timely/homepage.png" class="img-responsive"></a>
					    	<a href="/assets/Timely/calendar.png" class="img-thumbnail col-md-6" title="Calendar Page" data-gallery=""><img src="/assets/Timely/calendar.png" class="img-responsive"></a>
					    </div>
					    <div class="row">
					    <a href="/assets/Timely/scheduler.png" class="img-thumbnail col-md-6" title="Scheduler Page" data-gallery=""><img src="/assets/Timely/scheduler.png" class="img-responsive"></a>
					    <a href="/assets/Timely/Tradetake.png" class="img-thumbnail col-md-6" title="Trader Page" data-gallery=""><img src="/assets/Timely/Tradetake.png" class="img-responsive"></a>
					    </div>
				    </div>
			    </div>
			</div>
		    <div class="row center-div">
		    	<br>
		    	<div class="col-md-6">
				<a href="https://github.com/mjohnsonjr/Heimdall">Code</a>, screenshots, documents.<br>
				</div>
			</div>
		</div>

		<div class="container-fluid well">
			<div class="center-div">
				<h2>MicroCART</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
				An autonomous flying quadcopter that is communicated to via Bluetooth and a base station PC.  Our project was a continuation of a previous team’s, and our goal was to make the copter fly autonomously over Bluetooth and perform all computations onboard the UAV.<br>
			</div>
			<div class="col-md-4">
				    <!-- The container for the list of example images -->
			    <div id="microcart-links">
			    <a href="/assets/Timely/Tradetake.png" class="img-thumbnail" title="Trader Page" data-gallery=""><img src="/assets/Timely/Tradetake.png" class="img-responsive"></a>
				    </div>
			    </div>
			</div>
			    <div class="row center-div">
			    	<br>
			    	<div class="col-md-6">
						<a href="http://seniord.ece.iastate.edu/may1410/">Project Website</a>
						<a href="https:www.github.com/mjohnsonjr/MicroCART-F2013">Code</a>
						  Design Document, system diagram, others.<br>
					</div>
				</div>
			</div>

		<div class="container-fluid well">
			<div class="center-div">
				<h2>TixFace</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
				An application for the newly launched Garmin Connect IQ platform.  Connect IQ enables the creation of watch faces and applications for Garmin devices.  This application is a Tix clock watch face.  More information on Tix clocks: TODO<br>
			</div>
			<div class="col-md-4">
				    <!-- The container for the list of example images -->
			    <div id="tixface-links">
			    <a href="/assets/TixFace/tixface.png" class="img-thumbnail" title="Tix Clock Watchface" data-gallery=""><img src="/assets/TixFace/tixface.png" class="img-responsive"></a>
				    </div>
			    </div>
			</div>
			    <div class="row center-div">
			    	<br>
			    	<div class="col-md-6">
						Emulator picture.<br>
					</div>
				</div>
			</div>

		<div class="container-fluid well">
			<div class="center-div">
				<h2>Fast</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
				Application that tracks a user’s run.  This application was my first foray into the world of Android, and has many different components including Fragments, SQLite database, event handlers, and Google Play services integration.<br>
			</div>
			<div class="col-md-4">
				    <!-- The container for the list of example images -->
			    <div id="fast-links">
			    	<div class="row">
					   	<a href="/assets/Fast/home.png" class="img-thumbnail col-md-6" title="Home Screen" data-gallery=""><img src="/assets/Fast/home.png" class="img-responsive"></a>
					   	<a href="/assets/Fast/run.png" class="img-thumbnail col-md-6" title="Run Page" data-gallery=""><img src="/assets/Fast/run.png" class="img-responsive"></a>
					</div>
					<div class="row">
					    <a href="/assets/Fast/map.png" class="img-thumbnail col-md-6" title="Map Page" data-gallery=""><img src="/assets/Fast/map.png" class="img-responsive"></a>
					    <a href="/assets/Fast/heartrate.png" class="img-thumbnail col-md-6" title="Heartrate Page" data-gallery=""><img src="/assets/Fast/heartrate.png" class="img-responsive"></a>
					</div>
			    </div>
			</div>
			    <div class="row center-div">
			    	<br>
			    	<div class="col-md-6">
						App screenshots, etc.<br>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid well">
			<div class="center-div">
				<h2>Conways Game of Life</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
					A really fun game lol.
				</div>
				<div class="col-md-4">
				    <!-- The container for the list of example images -->
				    <div id="conways-links" class="images">
				    <a href="/assets/ConwaysLife/wireworld.png" class="img-thumbnail" title="WireWorld" data-gallery=""><img src="/assets/ConwaysLife/wireworld.png" class="img-responsive"></a>
				    </div>
			    </div>
			</div>
		    <div class="row center-div">
		    	<br>
		    	<div class="col-md-6">
					Code, custom filetype, etc.<br>
				</div>
			</div>
		</div>

		<div class="container-fluid well">
			<div class="center-div">
				<h2>This Website!</h2><br>
			</div>
			<div class="row center-div">
				<div class="col-md-6">
				This beautiful website you are looking at (just kidding!) was built by me! It is running on a rails server and utilizes JavaScript, Twitter Bootstrap, CSS, and was built on Rails.<br>
			</div>
			<div class="col-md-4">
				    <!-- The container for the list of example images -->
			    <div id="portfolio-links">
			    <a href="https://farm9.static.flickr.com/8745/17066115589_c3b12e61e7_b.jpg" title="Sunset behind the Süleymaniye" data-gallery=""><img src="https://farm9.static.flickr.com/8745/17066115589_c3b12e61e7_s.jpg"></a>
				    </div>
			    </div>
			</div>
			    <div class="row center-div">
			    	<br>
			    	<div class="col-md-6">
						Source maybe?<br>
					</div>
				</div>
			</div>

	</div>

</div>