<div id="projectpagewrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Portfolio</h1>
			</div>
		</div>
    </div> 
</div>

<div class="container">
	<div class="row centered mt mb">
		
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/soundtools"><img src="/assets/Icons/sound_tools.jpg" class="img-responsive">
			<h4>Sound Tools</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/timely"><img src="/assets/Icons/timely.jpg" class="img-responsive">
			<h4>Timely</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/microcart"><img src="/assets/Icons/microcart.jpg" class="img-responsive">
			<h4>MicroCART</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/tixface"><img src="/assets/Icons/tixface.jpg" class="img-responsive">
			<h4>TixFace</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/fast"><img src="/assets/Icons/fast.jpg" class="img-responsive">
			<h4>Fast</h4>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<a href="projects/conwayslife"><img src="/assets/Icons/conwayslife.jpg" class="img-responsive">
			<h4>Conway's Game of Life</h4>
			</a>
		</div>
	</div>
</div>