
h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    line-height: 70px;
}

a:link, a:visited {
	color:black;
}

a:hover {
	color:purple;
}

p {
   word-wrap: break-word;
}

.center-div {
	margin: 0 auto;
	width: 90%;
}

.images {
	padding-left: 1px;
}

/* Bootstrap mods */
.center-pills {
	display: flex;
	justify-content: center;
}

.green > li.active > a {
	background-color: #a2d900;
}

.green > li.active > a:hover {
	background-color: #a2e000;
}

.container > div {
  display: block;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* ID-based mods */

#navigation-container {
	padding: 15px;
}

#info-body {
	padding: 15px;
	display: flex;
	justify-content: center;
}