<!DOCTYPE html>
<html>
<head>
  <title>Michael Johnson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="container" id="name">
		<h1 class="text-center">Michael Johnson</h1>
	</div>
	<div class="container" id="navigation-container">
			<ul class="nav nav-pills center-pills" id="list">
				<li role="presentation" class="active tab-pane" id="about">
					<a class="nav-link" href="/">About</a>
				</li>
				<li role="presentation" class="tab-pane" id="resume">
					<a class="nav-link" href="/resume">Resume</a>
				</li>
				<li role="presentation" class="tab-pane" id="projects">
					<a class="nav-link" href="/projects">Projects</a>
				</li>
				<li role="presentation" class="tab-pane" id="contact">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
				<li role="presentation" class="tab-pane" id="github">
					<a class="nav-link" href="http://www.github.com/mjohnsonjr">Github</a>
				</li>
				<li role="presentation" class="tab-pane" id="linkedin">
					<a class="nav-link" href="http://www.linkedin.com/in/johnsonjrma">LinkedIn</a>
				</li>
			</ul>
	</div>

<%= yield %>

</body>
</html>