<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>REALTIME SIMULATION</h4>
					<h1>CONWAY'S GAME OF LIFE</h1>
					<h4>SOLO PROJECT</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE APPLICATION</h4>
				<p>Conway's Game of Life is a grid-based simulation in which cells transition through generations. The state of a cell in the next generation is determined by the rules of the game which can be found here: <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a>. This implementation of Conway's also supports <a href="https://en.wikipedia.org/wiki/Brian%27s_Brain">Brian's Brain</a>, <a href="https://en.wikipedia.org/wiki/Wireworld">WireWorld</a>, and <a href="https://en.wikipedia.org/wiki/Langton%27s_ant">Langton's Ant</a>.
				</p>
				<h4>TECHNOLOGIES USED</h4>
				<p>
				QT Framework, C++
				</p>
				<h4>RESOURCES</h4>
				<p>
				<a href="http://www.github.com/mjohnsonjr/ConwaysLife">CODE</a>
				</p>
				
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<h4>IMAGES</h4>
				<img class="img-responsive" src="/assets/ConwaysLife/wireworld.png">
				<br>
				<img class="img-responsive" src="/assets/ConwaysLife/conwayslife.png">
			</div>

		</div>
	</div>