<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>ANDROID APPLICATION</h4>
					<h1>FAST</h1>
					<h4>SOLO PROJECT</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE APPLICATION</h4>
				<p>Fast is an application that tracks a user’s runs and steps.  This application was one of my first foray into the world of Android, and has many different components including Fragments, a SQLite database, event handlers, and Google Play services integration. The application allows the user to manually start and stop runs, and while a run is occuring, the application will track metrics such as speed, average speed, heartrate, distance, and time.  Passively, the application will also keep track of your steps if your device has hardware to support it.
				</p>
				<h4>TECHNOLOGIES USED</h4>
				<p>
				Android Application Framework, Java, Google Play Services
				</p>
				<h4>RESOURCES</h4>
				<p>
				<a href="http://www.github.com/mjohnsonjr/Fast">CODE</a>
				<br>
				<a href="/projects/fast/apk">Application Package</a>
				</p>
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<img class="img-responsive" src="/assets/Fast/run.png">
				<br>
				<img class="img-responsive" src="/assets/Fast/map.png">
				<br>
				<img class="img-responsive" src="/assets/Fast/heartrate.png">
				<br>
				<img class="img-responsive" src="/assets/Fast/home.png">
			</div>

		</div>
	</div>