<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>AUTONOMOUS UAV</h4>
					<h1>MICROCART</h1>
					<h4>ROLE: UI AND COMM PROTOCOL DESIGNER</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE PROJECT</h4>
				<p>Blah blah blah flying things.</p>
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<img class="img-responsive" src="assets/img/pr01.jpg">
				<br>
				<img class="img-responsive" src="assets/img/pr02.jpg">
			</div>

		</div>
	</div>