<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>AUTONOMOUS UAV</h4>
					<h1>MICROCART</h1>
					<h4>ROLE: UI AND COMM PROTOCOL DESIGNER</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE PROJECT</h4>
				<p>MicroCART, standing for "Microcontroller Controlled Aerial Robotics Team", is a project that is built upon by senior design teams at Iowa State University. The previous group left us a functional system that allowed autonomous flight, but all data processing and calculations were done externally from the UAV. Our team's objective for this project was to shift the data processing from a basestation PC onto the UAV itself.</p>
				<p>My role in this project was to design a way to communicate with the vehicle from the base station computer, and to gut and replace the old user interface and base station software in order to accomodate this new system design.
				</p>
				<h4>TECHNOLOGIES USED</h4>
				<p>
				QT Framework, C++, Altera NIOS II, VHDL, UART
				</p>
				<h4>RESOURCES</h4>
				<p>
				<a href="http://www.github.com/mjohnsonjr/MicroCART-F2013">CODE</a>
				<br>
				<a href="/projects/microcart/finaldesigndoc">DESIGN DOCUMENT</a>
				</p>
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<img class="img-responsive" src="/assets/MicroCART/poster.png">
				<br>
				
			</div>

		</div>
	</div>