<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>COMMAND LINE TOOLS</h4>
					<h1>SOUND TOOLS</h1>
					<h4>SOLO PROJECT</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE PROJECT</h4>
				<p>
				</p>
				<h4>TECHNOLOGIES USED</h4>
				<p>
				Entirely written in C with standard libraries.
				</p>
				<h4>RESOURCES</h4>
				<p>
				<a href="http://www.github.com/mjohnsonjr/Heimdall">CODE</a>
				README
				</p>
				
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<h4>IMAGES</h4>
				<img class="img-responsive center-block" src="/assets/Sound Tools/sndinfo.png">
				<br>
			</div>

		</div>
	</div>