<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>WEB APPLICATION</h4>
					<h1>TIMELY</h1>
					<h4>ROLE: BACKEND AND DATA MODELING</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT THE APPLICATION</h4>
				<p>
				An employee management system that supports shift scheduling, shift trading, and the ability for managers to manage their employees schedules and trades. Employees and managers are assigned accounts with separate feature sets, only managers can create new employee accounts and approve any request that one of his or her employees completes, such as a shift request or shift trade request.
				</p>
				<h4>TECHNOLOGIES USED</h4>
				<p>
				Java, JSP, HTML, CSS, JavaScript, Spring MVC, Spring Security, Hibernate
				</p>
				<h4>RESOURCES</h4>
				<p>
				<a href="http://www.github.com/mjohnsonjr/Heimdall">CODE</a>
				</p>
				
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<h4>IMAGES</h4>
				<img class="img-responsive" src="/assets/Timely/main.png">
				<br>
				<img class="img-responsive" src="/assets/Timely/homepage.png">
				<br>
				<img class="img-responsive" src="/assets/Timely/scheduler.png">
				<br>
				<img class="img-responsive" src="/assets/Timely/calendar.png">
				<br>
				<img class="img-responsive" src="/assets/Timely/Tradetake.png">
			</div>

		</div>
	</div>