<div id="projectwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h4>TIX CLOCK WATCHFACE</h4>
					<h1>TIXFACE</h1>
					<h4>HOBBY PROJECT</h4>
				</div>
			</div>
	    </div>
	</div>
	
	<section id="projects"></section>
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h4>ABOUT</h4>
				<p>I am a huge fan of Tix Clocks. To understand them, this video explains it well: https://www.youtube.com/watch?v=Vu0geKPNs4E. When Garmin announced their new ConnectIQ platform that allowed applications and watchfaces to be created for Garmin wearables, I immediately wanted to create something. This is what I came up with.  
				</p>
				<h4>TECHNOLOGIES USED</h4>
				<p>
				Monkey C, ConnectIQ API
				</p>
				<h4>RESOURCES</h4>
				<p>
				<a href="http://www.github.com/mjohnsonjr/TixFace">CODE</a>
				</p>
			</div>
			<div class="col-lg-10 col-lg-offset-1 mt">
				<img class="img-responsive center-block" src="/assets/TixFace/tixface.png">
				<br>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<p>That's it, a Tix Clock watchface for Garmin devices.
				</p>
			</div>

		</div>
	</div>